/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/08/2015, 12:17:31 PM
    Author     : USUARIO
*/
body{
    background: url('../../img/slider/DSC_1292-2.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
    font-family: "Times New Roman", Times, serif;
}
.contentInclude100{
    position: absolute;
    height: 100%;
    width: 100%;
}
.contentInclude{
    position: absolute;
    width: 100%;
}
#contentIncludeContenido{
    top: 51px;
    height: calc(100% - 51px);
}
#contentIncludeMenu{
    
}
#fondonegrotransparent{
    background-color: #000;
    opacity: 0.7;
}
#contentLogin{
    z-index: 10;
    width: 500px;
    height: 500px;
    background-color: #fff;
    left: calc(50% - 275px);
    top: calc(50% - 250px);
    padding-left: 25px;
    padding-right: 25px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
#divLogin, #divRegister{
    background-color: #fff;
    top: 2%;
    width: 450px;
}
.errorForm{
    background-color: #EB5100;
}
#login_to_register_btn{
    top: 90%;
    left: 70%;
}