/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/08/2015, 12:17:31 PM
    Author     : USUARIO
*/
.contentInclude100{
    position: absolute;
    height: 100%;
    width: 100%;
}
.contentInclude{
    position: absolute;
    width: 100%;
}
#contentIncludeContenido{
    top: 51px;
    background-color: #ccc;
    height: calc(100% - 51px);
}
#contentIncludePrincipalLateral{
    position: absolute;
    width: 15%;
    top: 0px;
    background-color: #1c94c4;
    height: 100%;
}
#contentIncludePrincipalContenido{
    position: absolute;
    width: 85%;
    left: 15%;
    top: 0px;
    background-color: #d9edf7;
    height: 100%;
}
#contentIncludePrincipalContenidoEventos{
    position: absolute;
    width: 100%;
    background-color: #333;
    height: 40%;
}
#contentIncludePrincipalContenidoInferior{
    position: absolute;
    width: 100%;
    background-color: #fdf5ce;
    top: 40%;
    height: 60%;
}
.contentIncludeEventos{
    position: absolute;
    width: 33.33%;
    height: 100%;
}
#contentIncludeEvento1{
    background-color: #EB5100;
    left: 0%;
}
#contentIncludeEvento2{
    background-color: #000000;
    left: 33.33%;
}
#contentIncludeEvento3{
    left: 66.66%;
    background-color: #EB5100;
}
.evento{
    position: absolute;
    background: url('../img/eventos/palnorte/slide1.jpg') no-repeat center;
    /*background-color: white;*/
    width: 100%;
    height: 100%;
}